/* body {
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-bottom: 100px;
} */

.login-container {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.log h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 100px;
}

.log form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -90px;
}

.log label {
  color: #fff;
  font-weight: 500;
  margin-left: -20px; /* Adjust the margin-left value as desired */
}

.log input[type="text"],
.log input[type="password"],
.log input[type="email"],
.log select {
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.buttons span{
  color: #fff;
}

.log button {
  padding: 12px 24px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 130px;
}

.log button:hover {
  background-color: #3367d6;
}

.log button:active {
  background-color: #2d5bb8;
}

.log button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(66, 133, 244, 0.5);
}

.log button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
